line-length = 130
exclude = ["node_modules", "*/migrations", "Attic", ".venv"]
target-version = "py312"

[lint]
select = ["ALL"]
ignore = [
  "ANN0",
  "ANN201",
  "ANN204",
  "ANN401",
  "ARG001",
  "ARG002",
  "ARG004",
  "BLE001",
  "C401",
  "C408",
  "COM812",
  "CPY",
  "D1",
  "D202",
  "D203",
  "D212",
  "DJ001",
  "EM101",
  "EM102",
  "ERA",
  "FBT001",
  "FBT002",
  "FIX001",
  "FIX002",
  "G002",
  "G004",
  "ISC003",  # Implicit string concat can cause subtle bugs
  "N806",
  "PD011",
  "PGH003",
  "PIE790",
  "PLC0415",
  "PLR1722",
  "PLR2004",
  "PT002",
  "PYI021",
  "Q000",
  "RET504",
  "RSE102",
  "RUF005",
  "RUF012",
  "S101",
  "SIM103",
  "SIM108",
  "SIM114",
  "SIM118",
  "SLF001",
  "T201",
  "TD0",
  "TID252",
  "TRY002",
  "TRY003",
  "TRY400",
  "UP031",
  "UP035",
  "UP046",
]
flake8-pytest-style.fixture-parentheses = false
flake8-quotes.inline-quotes = "single"

[lint.per-file-ignores]
"../typings/**" = ["D", "A002", "ANN401", "PLC0105"]
"../typings/django/**" = ["ALL"]
"../../**/migrations/*" = ["I001", "I002", "E501"]
"../../**/tests/{test_*,fixtures.py}" = [
  "PLR0913",
  "ANN202",  # no type annotations required for tests
  "S106",    # skip inline password security checks
  "INP001",  # part of an implicit namespace package. Add an `__init__.py`
  "F403",    # allow importing fixtures and the likes into tests with *
]
"../../**/tests/*" = ["I002"]

[lint.pylint]
max-args = 10
max-returns = 10

[lint.isort]
split-on-trailing-comma = true
combine-as-imports = true
required-imports = ["from __future__ import annotations"]
extra-standard-library = ["typing_extensions"]
section-order = [
  "future",
  "standard-library",
  #"django-init",
  "django",
  "third-party",
  "kausal-common",
  "django-project",
  "first-party",
  "local-folder",
]

[lint.isort.sections]
django = [
  "django_stubs_ext",
  "django",
  "graphene_django",
  "graphene",
  "strawberry",
  "strawberry_django",
  "graphql",
  "modelcluster",
  "modeltrans",
  "pydantic",
  "pydantic_core",
  "rest_framework",
  "reversion",
  "wagtail",
]
"django-init" = ["kausal_common.development.django"]
"kausal-common" = ["kausal_common"]
"django-project" = ["paths", "aplans"]

[format]
quote-style = "single"

[lint.flake8-builtins]
builtins-ignorelist = ["id", "format", "print", "input", "next"]
